.main-container {
    min-width: 500px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.options {
    font-size: 14px;
}

.title {
    margin: 0;
    padding: 8px;
    text-align: center;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.import-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    width: 100%;
    text-align: left;
    background-color: #cee8ff;
    color: blue;
    margin: 0;
    padding: 8px;
    background-image: none!important;
    box-shadow: none!important;
    border-radius: 0;
    font-size: 15px;
    text-shadow: none;
}

.import-btn:hover {
    cursor: pointer;
    background-color: #bec8ff;
}

.errors-container {
    padding: 8px;
    background-color: #ffcccc;
}

.error {
    display: block;
}

.metrics-container {
    padding: 8px;
    background-color: #f8f8f8;
}

.metrics {
    margin: 0;
    white-space: pre-wrap;
}
